.btn{
  font-weight: 600;
  font-size: 13px;
  padding: 17px 23px 21px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  line-height: 13px;
  display: inline-block;
  &:hover{
    color: #fff;
  }
}
.btn-solid{
  background: linear-gradient(0deg, rgba(0,108,147,1) 0%, rgba(67,151,151,1) 100%);
  border: 1px solid transparent;
  &:hover{
    background: #439797;
  }
}
.btn-alpha{
  color: #006C93;
  border: 1px solid #006C93;
  &:hover{
    background: #439797;
    border-color: #439797;
  }
}
.btn-gray{

}
.btn-yellow{

}