.btn{
  font-weight: 600;
  font-size: 13px;
  padding: 18px 23px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  line-height: 13px;
  display: inline-block;
  &:hover{
    color: #fff;
  }
}
.btn-solid{
  background: linear-gradient(0deg, rgba(0,108,147,1) 0%, rgba(67,151,151,1) 100%);
  border: 1px solid transparent;
  &:hover{
    background: #439797;
  }
}
.btn-alpha{
  color: #006C93;
  border: 1px solid #006C93;
  &:hover{
    background: #439797;
    border-color: #439797;
  }
}
.btn-gray{
  background: #4C4C4C;
  border: 1px solid #939393;
  &:hover{
    background: #545454;
  }
}
.btn-yellow, input[type=submit]{
  font-size: 16px;
  background: #FF9D00;
  border: none;
  border-radius: 4px;
  padding: 20px 44px 24px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(#FF9D00,0.5);
  &:hover{
    background: #FFAD36;
  }
}
.btn-video{
  display: block;
  width: 202px;
  height: 202px;
  background: url('../images/svg/play2.svg') 0 0 no-repeat;
  transition: 0.3s all;
  &:hover{
    transform: scale(1.15);
    transition: 0.3s all;
  }
}

