.site-header{
 display: flex;
  color: #3C3C3C;
}
.site-header_line1{
  display: flex;
}
.site-header_line2{
  display: flex;
  margin-left: 97px;
  border-top: 1px solid #C6E5D8;
}
.header-logo-wrap{
  margin-top: 17px;
}
.header-logo-wrap__logo{
  display: block;
  background: url('../images/svg/logo.svg') 0 0 no-repeat;
  background-size: contain;
  width: 171px;
  height: 79px;
}
.header-slogan{
  font-style: italic;
  font-weight: 600;
  color: #787878;
  font-size: 14px;
  margin-left: 46px;
  margin-top: 48px;
}
  .tel{
    font-weight: 600;
    font-size: 16px;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  .mail{
    a{
      text-decoration: none;
      color: inherit;
    }
  }
.header-contact-wrap{
  margin-left: auto;
  display: flex;
  .tel{
    margin-top: 45px;
    margin-right: 43px;
  }
  .mail{
    margin-top: 45px;
    margin-right: 35px;
  }
}
.header-contact-wrap__btn-w{
  margin-top: 29px;
  .btn{
    margin-right: 12px;
    &:last-child{
      margin-right: 0;
    }
  }
}
