.flex-wrap{
  display: flex;
}
.hint{
  font-size: 13px;
  color: #787878;
  padding-left: 26px;
  position: relative;
  max-width: 400px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-size: contain;
    background: url("../images/svg/hint.svg") 0 0 no-repeat;
  }
}