@import '_typo';
@import '_buttons';
@import '_form';
@import '_support';
@import '_menu';
@import '_header';
@import '_footer';
@import '_owl';

/*block 1*/
.block-1 {
  text-align: center;
  padding-top: 67px;
  background: url('../images/svg/block1.svg') center 0 no-repeat;
  background-size: cover;
  min-height: 517px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 368px;
    background: url('../images/svg/vagon.svg') center 0 no-repeat;
    background-size: 3983px 368px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -650px;
    width: 1296px;
    height: 148px;
    background: url('../images/svg/block1-2.svg') center 0 no-repeat;
    background-size: contain;
  }
}

.block-1-video {
  position: relative;
  z-index: 2;
  margin: 67px auto 0;
  display: inline-block;
}

/*block-2*/
.block-2 {
  position: relative;

  .pattern-block {
    top: -85px;
    margin-bottom: -28px;
  }

  .pattern-form {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(#C6E5D8, 0.4);
  }
}

.pattern-block {
  border-radius: 10px;
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
  padding: 32px 40px 0;
  background: linear-gradient(90deg, rgba(0, 108, 147, 1) 0%, rgba(67, 151, 151, 1) 100%);
  height: 517px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/svg/pattern.svg") 0 0 repeat;
    background-size: 40px 55px;
    opacity: 0.5;
    z-index: 1;
  }

  .pattern-block__header {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .pattern-block__in {
    position: relative;
    z-index: 2;
  }
}

.pattern-form {
  .form {
    display: flex;
    border-radius: 5px;
    border: 1px solid #CACCCD;
    background: #fff;
  }

  input[type=text] {
    width: 326px;
    border-left: 1px solid #CACCCD;
    background: transparent;
  }

  .form-input:first-child {
    input[type=text] {
      border-left: none;
    }
  }
}

.label-conf {
  padding-left: 26px;
  font-size: 13px;
  color: #fff;
  position: relative;

  span {
    display: block;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 19px;
    background: url('../images/svg/shield.svg') 0 0 no-repeat;
    background-size: contain;
  }
}

.pattern-block__in .label-conf {
  margin: 17px 0 0 20px;
}

.quote-block {
  color: #fff;
}

.quote-block__title {
  margin-top: 65px;
  position: relative;
  z-index: 1;

  .name {
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .title {
    font-size: 16px;
    font-style: italic;
  }
}

.quote-block__title .social-links {
  border-top: 1px solid rgba(#C6E5D8, 0.4);
  display: inline-block;
  padding-top: 15px;
}

.social-links {
  display: flex;
  align-items: center;
  a {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.quote-block__title .social-links {
  margin-top: 15px;
}

.vk {
  display: inline-block;
  width: 24px;
  height: 13px;
  background-size: contain;
  background: url('../images/svg/vk-white.svg') 0 0 no-repeat;
}

.fb {
  display: inline-block;
  width: 11px;
  height: 20px;
  background-size: contain;
  background: url('../images/svg/fb-white.svg') 0 0 no-repeat;
}

.ig {
  display: inline-block;
  width: 19px;
  height: 18px;
  background-size: contain;
  background: url('../images/svg/ig-white.svg') 0 0 no-repeat;
}

.quote-block__image {
  width: 433px;
  height: 297px;
  background: url('../images/svg/man.svg') 0 0 no-repeat;
  background-size: cover;
  margin-top: 41px;
  margin-left: -170px;
}

.quote-block__quote {
  margin-top: 65px;
  max-width: 775px;
  padding-left: 170px;
  position: relative;
  margin-left: 70px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 135px;
    height: 111px;
    background-size: contain;
    background: url("../images/svg/quote.svg") 0 0 no-repeat;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.quote-block .flex-wrap {
  justify-content: flex-start;
}

.block-3__h2 {
  /*margin-bottom: 30px;*/
}

.mp-block-desc {
  .in {
    border-top: 1px solid #C6E5D8;;
  }
}

.mp-block-desc__block {
  margin-top: 114px;
  width: 46%;
}

.mp-block-desc__1 {
  .mp-block-desc__block {
    margin-top: 97px;
  }
}

.mp-block-desc__header {
  font-size: 29px;
  font-weight: 500;
  padding-left: 80px;
}

.mp-block-desc__header_num {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    left: 0;
    top: -15px;
  }

  &.num1:before {
    background: url('../images/svg/num1.svg') 0 0 no-repeat;
    background-size: contain;
  }

  &.num2:before {
    background: url('../images/svg/num2.svg') 0 0 no-repeat;
    background-size: contain;
  }

  &.num3:before {
    background: url('../images/svg/num3.svg') 0 0 no-repeat;
    background-size: contain;
  }
}

.mp-block-desc__desc {
  padding-left: 80px;
  margin-top: 19px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 45px;
  max-width: 594px;
}

.mp-block-desc__block__btn {
  margin-left: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.mp-block-desc__1 {
  .mp-block-desc__block__image {
    position: relative;
    top: -40px;
    margin-bottom: -44px;
  }
}

.mp-block-desc__reverse .flex-wrap {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.mp-block-desc__reverse {
  .mp-block-desc__block {
    width: 40%;
  }
}

.mp-block-desc__2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 38%, rgba(67, 151, 151, 0.4) 100%);
  padding-bottom: 55px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/svg/pattern.svg') repeat;
    background-size: 40px 55px;
    opacity: 0.5;
  }

  .mp-block-desc__block__image {
    margin-top: -25px;
  }

  .flex-wrap {
    position: relative;
    z-index: 2;
  }
}

.mp-block-desc__3 {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 38%, rgba(67, 151, 151, 0.4) 100%);
  padding-bottom: 43px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/svg/pattern.svg') repeat;
    background-size: 40px 55px;
    opacity: 0.5;
  }

  .mp-block-desc__block__image {
    margin-top: -65px;
  }

  .flex-wrap {
    position: relative;
    z-index: 2;
  }
}

.mp-block-desc__hint {
  margin: 54px 0 0 76px;
}

.mp-block-desc__1 .in {
  border-top: none;
}

.review-column-left {
  min-width: 200px;
}

.review-list {
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin-bottom: 23px;
    &.active {
      border-bottom: none;
      color: #439797;
      cursor: auto;
      a {
        border-bottom: none;
        color: #439797;
        cursor: auto;
      }
    }
  }
}

.review-column-right.flex-wrap {
  justify-content: space-between;
  width: 100%;
}

.quote-block__quote.review-column-right__quote {
  margin-top: 0;
}

.review-column-right__quote {
  padding-right: 30px;
}

.quote-block__quote__header {
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 20px;
}

.quote-block__quote__date {
  display: inline-block;
  margin-left: 20px;
}

.review-column-right__quote p {
  font-size: 15px;
  font-weight: 600;
}

.info_category__block {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 25px;
  margin-bottom: 45px;
}

.info_category__block_text {
  padding-left: 35px;
  padding-top: 5px;
}

.info_category__block_text__header {
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 25px;
}

.info_category__block_text__desc {
  font-size: 15px;
  margin-bottom: 15px;
}

.docs-table {
  margin: 0 -25px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 25px;
}

.docs-table p {
  font-size: 13px;
  color: #787878;
  margin-bottom: 20px;
}

.docs-table__header {
  position: relative;
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-line {
  margin-top: 40px;
  margin-bottom: 60px;
  .header-footer-group__flex-wrap {
    justify-content: flex-start;
  }
  .foot-block {
    margin-right: 10%;
  }
  a {
    border-bottom: none;
    text-decoration: none;
    &:hover {
      border-bottom: none;
    }
  }
  .foot-block__header {
    color: #787878;
  }
  .foot-block__2 .flex-wrap {
    margin-top: 0;
  }
  .vk {
    background: url('../images/svg/vk-solid.svg') 0 0 no-repeat;
    &:hover {
      background: url('../images/svg/vk-darkgreen.svg') 0 0 no-repeat;
    }
  }
  .fb {
    background: url('../images/svg/fb-solid.svg') 0 0 no-repeat;
    &:hover {
      background: url('../images/svg/fb-darkgreen.svg') 0 0 no-repeat;
    }
  }
  .foot-block__1 {
    max-width: none;
  }
  .foot-block__2 {
    min-width: 300px;
  }
}

.map {
  margin: 35px 0;
}

.submit_w {
  padding-left: 25px;
}

.hint_w {
  padding-left: 25px;
}

body.page-template-service1 {
  .in-content{height:auto;}
  background: #fff;
  #site-header {
    background: linear-gradient(90deg, rgba(#f0f7f6, 1) 0%, rgba(#d0e6e4, 1) 100%);
  }
}

body.page-template-service2 {
  .in-content{height:auto;}
  background: #fff;
  #site-header {
    background: linear-gradient(90deg, rgba(#f0f7f6, 1) 0%, rgba(#d0e6e4, 1) 100%);
  }
}

body.page-template-service3 {
  .in-content{height:auto;}
  background: #fff;
  #site-header {
    background: linear-gradient(90deg, rgba(#f0f7f6, 1) 0%, rgba(#d0e6e4, 1) 100%);
  }
}

body.page-template-service4 {
  .in-content{height:auto;}
  background: #fff;
  #site-header {
    background: linear-gradient(90deg, rgba(#f0f7f6, 1) 0%, rgba(#d0e6e4, 1) 100%);
  }
}

.service-page__pattern-block{
  height: 185px;
}
.service-header-block {
  background: linear-gradient(90deg, rgba(#f0f7f6, 1) 0%, rgba(#d0e6e4, 1) 100%);
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-size: contain;
  }
  h1{
    font-size: 62px;
    line-height: 67px;
    margin-bottom: 20px;
    span{
      display: block;
    }
  }
  p{
    font-size: 28px;
    font-weight: 500;
    max-width: 50%;
    margin-bottom: 60px;
  }
  .in{
    position: relative;
    z-index: 2;
  }
  .hint{
    max-width: 50%;
  }
}

.service-block_1 {
  padding-top: 64px;
  min-height: 500px;
  margin-bottom: -120px;
  &:after {
    background: url('../images/svg/ser1.svg') 0 0 no-repeat;
    width: 768px;
    height: 500px;
  }
}

.service-block_2 {
  padding-top: 64px;
  min-height: 563px;
  margin-bottom: -120px;
  &:after {
    background: url('../images/svg/ser2.svg') 0 0 no-repeat;
    width: 865px;
    height: 563px;
  }
}
.service-block_3 {
  padding-top: 64px;
  min-height: 560px;
  margin-bottom: -120px;
  &:after {
    background: url('../images/svg/ser3.svg') 0 0 no-repeat;
    width: 851px;
    height: 560px;
  }
}
.service-block_4 {
  padding-top: 64px;
  min-height: 556px;
  margin-bottom: -120px;
  &:after {
    background: url('../images/svg/ser4.svg') 0 0 no-repeat;
    width: 857px;
    height: 556px;
  }
}
.w20{
  width: 20%;
}
.steps-block{
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  .steps-block__step{
    padding-top: 75px;
    font-size: 15px;
    font-weight: 600;
    padding-right: 5%;
    position: relative;
    &:before{
      content:'';
      display: block;
      position: absolute;
      width: 63px;
      height: 63px;
      background-size: contain;
      top: 0;
      left: 0;
    }
  }
}



.pred-block{
  margin-top: 80px;
  margin-bottom: -15px;
}
.pred-block__right{
  margin-left: 30px;
  margin-top: 20px;
  width: 100%;
}
.pred-block__right-w{
  padding: 20px;
  background: #f7f7f7;
  border-radius: 6px;
  .hint{
    font-size: 15px;
    font-weight: 600;
    color: inherit;
    max-width: none;
    &:before{
      background: url('../images/svg/hint-green.svg') 0 0 no-repeat;
    }
  }
  ul{
    margin-left: 27px;
    margin-top: 8px;
    li{
      list-style: none;
      font-size: 15px;
    }
  }
}
.step__step1:before{background: url('../images/svg/nums1.svg') 0 0 no-repeat;}
.step__step2:before{background: url('../images/svg/nums2.svg') 0 0 no-repeat;}
.step__step3:before{background: url('../images/svg/nums3.svg') 0 0 no-repeat;}
.step__step4:before{background: url('../images/svg/nums4.svg') 0 0 no-repeat;}
.step__step5:before{background: url('../images/svg/nums5.svg') 0 0 no-repeat;}


.owl-block{
  margin-top: 45px;
  padding-top: 50px;
  border-top: 2px solid #f7f7f7;
}
.owl-carousel{
  margin: 50px 0 60px;
  img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    &:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity:1;
    }
  }
}
.owl-stage{
  display: flex;
  align-items: center;
}

.pattern-block__service-pattern2{
  overflow: hidden;
  background: linear-gradient(90deg, rgba(0, 108, 147, 1) 0%, rgba(67, 151, 151, 1) 100%);
  .pattern-block__in{
    z-index: 3;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: url(../images/svg/service-figures.svg) 0 0 repeat;
    background-size: 1547px 541px;
    z-index: 2;
  }
  .quote-block__image{
    width: 451px;
    height: 731px;
    background: url(../images/svg/service-man.png) 0 0 no-repeat;
    background-size: contain;
    margin-top: 41px;
    margin-left: -80px;
    z-index: 3;
  }
  .quote-block__quote{
    margin-left: -130px;
    padding-left: 200px;
    p{
      margin-bottom: 25px;
    }
  }
}